* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
}

body .sectionOne {
  background-image: url(/images/desktop/image-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  background-position: center;
  padding-bottom: 15rem;
  color: #fff;
}

@media screen and (max-width: 990px) {
  body .sectionOne {
    background-image: url(/images/mobile/image-header.jpg);
    padding-bottom: 11rem;
  }
}

body .sectionOne header {
  padding-top: 2rem;
  position: fixed;
  z-index: 2;
  width: 100%;
}

body .sectionOne nav {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

body .sectionOne nav .navLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  body .sectionOne nav .navLinks {
    display: none;
  }
}

body .sectionOne nav .navLinks a {
  padding: 1rem;
  font-size: 19px;
  color: #fff;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
}

@media screen and (max-width: 767px) {
  body .sectionOne nav .navLinks a {
    color: #5a636c;
  }
}

body .sectionOne nav .navLinks button {
  color: #23303e;
  text-transform: uppercase;
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  font-family: "Fraunces", serif;
}

@media screen and (max-width: 767px) {
  body .sectionOne nav .navLinks button {
    background-color: #fad400;
  }
}

body .sectionOne header + div h1 {
  font-family: "Fraunces", serif;
  font-size: 2rem;
  letter-spacing: 0.5rem;
  padding-top: 12rem;
}

@media screen and (max-width: 767px) {
  body .sectionOne header + div h1 {
    letter-spacing: 0.2rem;
    margin-bottom: 2rem;
    padding-top: 8rem;
  }
}

body .sectionOne .arrow {
  -webkit-animation: bounce 2s linear infinite;
          animation: bounce 2s linear infinite;
  margin-top: 2rem;
}

body .sectionOne i {
  display: none;
}

@media screen and (max-width: 767px) {
  body .sectionOne i {
    display: block;
    font-size: 1.5rem;
    margin-top: -9px;
  }
}

body .sectionOne .responsive {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  z-index: 1;
  position: absolute;
  top: 73px;
  right: 0;
  padding-top: 3rem;
  padding-bottom: 2rem;
  -webkit-clip-path: polygon(0px 29px, 90.18% 28.5px, 101.64% -1.67%, 100% 100%, 0px 100%);
          clip-path: polygon(0px 29px, 90.18% 28.5px, 101.64% -1.67%, 100% 100%, 0px 100%);
}

body #sectionTwo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fcf0ee;
}

@media screen and (max-width: 990px) {
  body #sectionTwo {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

body #sectionTwo h3 {
  font-size: 2rem;
  font-family: "Fraunces", serif;
  padding-top: 3rem;
}

body #sectionTwo p {
  font-family: "Barlow", sans-serif;
  margin-top: 3rem;
  margin-bottom: 2rem;
  line-height: 24px;
  font-size: 18px;
}

body #sectionTwo .transform {
  width: 70%;
  margin: auto;
  color: #23303e;
  padding-bottom: 2rem;
}

@media screen and (max-width: 990px) {
  body #sectionTwo .transform {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    text-align: center;
    width: 87%;
  }
}

body #sectionTwo .yellowEgg img:first-child {
  margin-bottom: -5px;
}

@media screen and (max-width: 990px) {
  body #sectionTwo .yellowEgg img:first-child {
    display: none;
  }
}

body #sectionTwo .yellowEgg img:nth-child(2) {
  display: none;
}

@media screen and (max-width: 990px) {
  body #sectionTwo .yellowEgg img:nth-child(2) {
    display: block;
  }
}

@media screen and (max-width: 990px) {
  body #sectionTwo .yellowEgg {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

body #sectionTwo .standOut {
  width: 70%;
  margin: auto;
  color: #23303e;
  padding-bottom: 2rem;
}

@media screen and (max-width: 990px) {
  body #sectionTwo .standOut {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    text-align: center;
  }
}

body #sectionTwo .cup img:first-child {
  margin-bottom: -5px;
}

@media screen and (max-width: 990px) {
  body #sectionTwo .cup img:first-child {
    display: none;
  }
}

body #sectionTwo .cup img:nth-child(2) {
  display: none;
}

@media screen and (max-width: 990px) {
  body #sectionTwo .cup img:nth-child(2) {
    display: block;
  }
}

@media screen and (max-width: 990px) {
  body #sectionTwo .cup {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

body #sectionTwo .graphicDesign {
  text-align: center;
  color: #25564b;
  background-image: url(/images/desktop/image-graphic-design.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 50%;
}

@media screen and (min-width: 1215px) {
  body #sectionTwo .graphicDesign {
    padding-top: 54%;
  }
}

@media screen and (min-width: 1884px) {
  body #sectionTwo .graphicDesign {
    padding-top: 57%;
  }
}

@media screen and (max-width: 990px) {
  body #sectionTwo .graphicDesign {
    background-image: url(/images/mobile/image-graphic-design.jpg);
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    padding-top: 60%;
  }
}

body #sectionTwo .graphicDesign p {
  width: 60%;
  margin: 2rem auto;
  color: #25564b;
}

@media screen and (max-width: 990px) {
  body #sectionTwo .graphicDesign p {
    width: 85%;
    margin-bottom: 4rem;
  }
}

body #sectionTwo .graphicDesign + div {
  text-align: center;
  color: #19536b;
  background-image: url(/images/desktop/image-photography.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 54%;
  background-position: center;
}

body #sectionTwo .graphicDesign + div p {
  width: 60%;
  margin: 2rem auto;
  color: #19536b;
}

@media screen and (max-width: 990px) {
  body #sectionTwo .graphicDesign + div p {
    width: 85%;
    margin-bottom: 4rem;
  }
}

@media screen and (min-width: 1398px) {
  body #sectionTwo .graphicDesign + div {
    padding-top: 57%;
  }
}

@media screen and (max-width: 990px) {
  body #sectionTwo .graphicDesign + div {
    background-image: url(/images/mobile/image-photography.jpg);
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    padding-top: 60%;
  }
}

body .testimonial {
  width: 90%;
  margin: auto;
  text-align: center;
  padding-bottom: 5rem;
}

body .testimonial h3 {
  color: #818498;
  padding: 4rem 0;
  font-family: "Fraunces", serif;
}

body .testimonial .clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3rem;
  font-family: "Barlow", sans-serif;
}

@media screen and (max-width: 990px) {
  body .testimonial .clients {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

body .testimonial .clients div img {
  width: 20%;
  border-radius: 50%;
  margin-bottom: 2rem;
}

body .testimonial .clients div p {
  color: #5a636c;
  font-weight: 600;
  line-height: 1.5;
}

body .testimonial .clients div h4 {
  margin-top: 2.5rem;
  margin-bottom: 0.5rem;
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: #23303e;
}

body .lastSection {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 990px) {
  body .lastSection {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

body footer {
  padding-top: 4rem;
  padding-bottom: 1rem;
  background-color: #95c1b8;
  text-align: center;
  color: #458c7e;
}

body footer div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body footer div:first-child img {
  width: 15%;
}

@media screen and (max-width: 990px) {
  body footer div:first-child img {
    width: 120px;
  }
}

body footer .footerLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 41%;
  margin: auto;
  padding-top: 4rem;
  padding-bottom: 5rem;
}

body footer .footerLinks a {
  color: #458c7e;
  font-size: 19px;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
}

@media screen and (max-width: 990px) {
  body footer .footerLinks {
    width: 79%;
    padding-top: 2rem;
  }
}

body footer .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 4rem;
}

body footer .icons a:hover img {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

@media screen and (max-width: 425px) {
  body footer .icons {
    gap: 3rem;
  }
}

body footer p {
  margin-top: 3rem;
  font-family: "Fraunces", serif;
  font-size: 1.3rem;
}

@media screen and (max-width: 990px) {
  body footer p {
    font-size: inherit;
  }
}

body #preloader {
  background: #000;
  background-image: url(/images/loader.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 9%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 2;
}

@-webkit-keyframes bounce {
  20% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  40% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  50% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  80% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  90% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
}

@keyframes bounce {
  20% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  40% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  50% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  80% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  90% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
}
/*# sourceMappingURL=style.css.map */