* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  //   font-family: 'Barlow', sans-serif;
  // font-family: 'Fraunces', serif;
}
body {
  .sectionOne {
    background-image: url(/images/desktop/image-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    background-position: center;
    padding-bottom: 15rem;
    color: #fff;
    @media screen and (max-width: 990px) {
      background-image: url(/images/mobile/image-header.jpg);
    }

    header {
      width: 90%;
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      padding-top: 2rem;
      .navLinks {
        display: flex;
        align-items: center;
        @media screen and (max-width: 767px) {
          display: none;

          width: 100%;
          flex-direction: column;
          background-color: #fff;
          z-index: 1;

          position: absolute;
          top: 90px;
          right: 0;
          padding: {
            top: 3rem;
            bottom: 2rem;
          }
          clip-path: polygon(
            0px 29px,
            90.18% 28.5px,
            101.64% -1.67%,
            100% 100%,
            0px 100%
          );
        }
        a {
          padding: 1rem;
          font-size: 19px;
          color: #fff;
          font-family: "Barlow", sans-serif;
          font-weight: 600;
          @media screen and (max-width: 767px) {
            color: hsl(213, 9%, 39%);
          }
        }
        button {
          color: hsl(212, 27%, 19%);
          text-transform: uppercase;
          padding: 10px 15px;
          border-radius: 20px;
          border: none;
          font-family: "Fraunces", serif;
          @media screen and (max-width: 767px) {
            background-color: hsl(51, 100%, 49%);
          }
        }
      }
    }
    header + div {
      h1 {
        font-family: "Fraunces", serif;
        font-size: 2rem;
        letter-spacing: 0.5rem;
        margin: {
          top: 5rem;
          bottom: 4rem;
        }
        @media screen and (max-width: 767px) {
          letter-spacing: 0.2rem;
          margin-bottom: 2rem;
        }
      }
    }
    i {
      display: none;
      @media screen and (max-width: 767px) {
        display: block;
        font-size: 1.5rem;
        margin-top: -9px;
      }
    }
    .fa-times {
      display: none;
    }
  }
  #sectionTwo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;

    // background-color: hsl(7deg, 67%, 96%);

    @media screen and (max-width: 990px) {
      grid-template-columns: 1fr;
    }
    h3 {
      font-size: 2rem;
      font-family: "Fraunces", serif;
      padding-top: 3rem;
    }
    p {
      font-family: "Barlow", sans-serif;
      margin: {
        top: 2rem;
        bottom: 2rem;
      }
      line-height: 24px;
      font-size: 18px;
      color: hsl(210, 4%, 67%);
    }
    a {
      font-family: "Fraunces", serif;
      border-bottom: 7px solid hsl(51, 88%, 70%);
      color: hsl(167, 40%, 24%);
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
    }

    .transform {
      width: 70%;
      margin: auto;
      color: hsl(212, 27%, 19%);
      padding-bottom: 2rem;

      @media screen and (max-width: 990px) {
        order: 2;
        text-align: center;
        width: 87%;
      }
    }
    .yellowEgg {
      img:first-child {
        margin-bottom: -5px;
        @media screen and (max-width: 990px) {
          display: none;
        }
      }
      img:nth-child(2) {
        display: none;
        @media screen and (max-width: 990px) {
          display: block;
        }
      }
      @media screen and (max-width: 990px) {
        order: 1;
      }
    }
    .standOut {
      width: 70%;
      margin: auto;
      color: hsl(212, 27%, 19%);
      padding-bottom: 2rem;
      @media screen and (max-width: 990px) {
        order: 4;
      }
    }
    .cup {
      img:first-child {
        margin-bottom: -5px;
        @media screen and (max-width: 990px) {
          display: none;
        }
      }
      img:nth-child(2) {
        display: none;
        @media screen and (max-width: 990px) {
          display: block;
        }
      }
      @media screen and (max-width: 990px) {
        order: 3;
      }
    }
    // .graphicDesign {
    //   text-align: center;
    //   color: hsl(167, 40%, 24%);
    //   background-image: url(/images/desktop/image-graphic-design.jpg);
    //   background-repeat: no-repeat;
    //   padding-top: 20rem;

    //   p {
    //     width: 72%;
    //     margin: 2rem auto;
    //     color: hsl(167, 40%, 24%);
    //   }
    // }
    // .graphicDesign + div {
    //   text-align: center;
    //   color:  hsl(198, 62%, 26%);

    //   background-image: url(/images/desktop/image-photography.jpg);
    //   background-repeat: no-repeat;
    //   padding-top: 20rem;
    //   p {
    //     width: 60%;
    //     margin: 2rem auto;
    //    color:  hsl(198, 62%, 26%);
    //   }
    // }
    .graphicDesign {
      transform: translateY(-100%);
      text-align: center;
      color: hsl(167, 40%, 24%);
      p {
        width: 72%;
        margin: 4rem auto;
          color: hsl(167, 40%, 24%) ;
      }
    }
    .graphicDesign + div {
      transform: translateY(-100%);
      color: hsl(198, 62%, 26%);
      text-align: center;
      p {
        width: 60%;
        margin: 4rem auto;
         color: hsl(198, 62%, 26%);
      }
    }
  }
}
